<%-include("partials/extras/header")%>
</head>

<body style="background-color: #eee;">
    <%-include("partials/extras/nav")%> 
    <%
        var smal=(x)=>{
            s = '';
            var y = x.length;
            for(var i=y-1;i>=y-6;--i){
                s+=x[i];
            }
            return s;
        }
    %>

    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 col-12 justify-content-center">
                <div style="border-radius:10px; margin: 50px auto; background-color: white; width: 100%; padding-bottom:0; padding: 40px; " id="p1">
                    <h5 style="float: right; color: #888;">Patient Id:<strong style="text-decoration: underline;"> <%=smal(id)%></strong></h5>
                    <h2 style="margin-bottom: 40px;">SURVEY FORM</h2>
                    <h4>Please help us to improve our Hospital Management System.</h4>
                    <div style="margin-top: 50px; font-size: 14px;">
                        <h5 style= "font-size: 15px;">Add Symptoms that are not present in our Database</h5>
                        <div>
                            <form action="/addsymp/<%=id%>" method="post">
                                <input style="width: 60%; float: left ; margin-top: 8px" type="text" name="symptom" class="form-control" placeholder="Symptoms not found can be written here     ( 2-3 words )" >
                                <button width="width:40%;" style="margin-top: 8px ; margin-left: 8px;" class="btn btn-outline-primary " type="submit" id="button-addon2">Add</button>
                            </form>
                        </div>
                        <p style="margin-top: 40px;">It is just a Survey and Symptoms are added to our Database and can be used for further improvements</p>
                    </div>
                    <div>
                        <a href='/symptoms/<%=id%>'><button class="btn btn-outline-danger">Go Back</button></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</body>