<%-include("partials/extras/header")%>
    <script>
        // #cf3232
        // #bf1128
    </script>
    <style>
        .symp{
            border: 1px solid rgb(146, 146, 248);
            padding: 1px 10px 1px 10px;
            border-radius: 10px;
            background-color: rgb(136, 169, 201);
            margin: 10px;
        }
        .symp:hover{
            background-color: rgb(248, 130, 130);
        }
        .hgt{
            border-left: 3px solid black;
            height: 30px;
            padding-left: 20px;
            color: #adb5bd;
        }
        .hg1{
            /* border-left: 3px solid green; */
            height: 30px;
            padding-left: 23px;
            position: relative;
        }
        .hg1::after{
            padding-left: 25px;
            content: '';
            position: absolute;
            left: 0px;
            bottom: 10%;
            height: 100%;
            border-left: 3px solid #1576d1;
        }
        .hg2{
            border-left: 3px solid #1576d1;
            height: 30px;
            padding-left: 20px;
            color: #adb5bd;
        }
        .progress{
            margin-top: 25px;
        }
        @media (max-width:1000px){
            #basicd1{
                display: none;
            }
        }
        @media (max-width:1200px){
            .emailsmall{
                display: none;
            }
        }
        BookApp{
            color: #bf1128;
        }
        BookApp:hover{
            color: white;
        }
    </style>
</head>

<body style="background-color: #eee;">
    <%-include("partials/extras/nav")%> 

    <%
        function datavariable(x){
            <!-- console.log(x); -->
            if(x>60) return "Strong evidence";
            if(x>20) return "Moderate evidence";
            return "Mild evidence"
        }

        function image(x){
            if(x==='male')return 'https://raw.githubusercontent.com/tej3107/FingrtipsHealth/main/public/male.png';
            return 'https://raw.githubusercontent.com/tej3107/FingrtipsHealth/main/public/female.png'
        }

        function recommend(x,y){
            if(x>20)return true;
            return false;
        }

        var tests = ['Dix-Hallpike test','','Nucleic acid-based tests(NAT)','ELISA test','DUTCH test','Adrenal cortisol panel','Prothrombin time (PTT) test','Alanine transaminase (ALT) test','Intradermal skin testing','Spirometry (Lung Function Tests)','Antinuclear antibody test (ANA)','Anti-cyclic citrullinated protein test (Anti-CCP)','Spirometry','Methacholine challenge test','Myelography','Electromyography','Blood test','Viral culture','Bile acid levels test','Ultrasound','','','Polymerase chain reaction (PCR)','Plaque Reduction Neutralization Test (PRNT)','A1C Test','Glucose Tolerance Test','Digital rectal scan','Sigmoidoscopy','Patch test','Blood test','Susceptibility testing','Calcofluor white stain','Esophagram','Upper Endoscopy','Rectal examination','Stool test','Cardiac enzymes test','Magnetic resonance imaging (MRI)','Antigen test','Transient elastography','Enzyme-linked immunosorbent assay (ELISA)','Recombinant ImmunoBlot assay (RIBA)','Blood test','','Blood test','','Blood Pressure Test','','Complete blood count (CBC)','Thyroid uptake test','Blood glucose test','','Thyroid function tests','Thyroid scan','Swab test','Physical examination','Computerised tomography (CT scan)','Blood Tests','Real-time polymerase chain reaction (RT-PCR)','Blood test','Cerebrospinal fluid (CSF) analysis','Magnetic resonance imaging (MRI)','Analysis of joint fluid','X-ray','Myelogram','Electromyogram','Endoscopy','Stool test','Sputum culture test','Urine test','Complete blood count (CBC)','Physical examination','Tuberculin skin test','Pleural fluid analysi','Widal test','Blood test','Cystoscopy','Urine analysis','Ultrasound','Venogram','Blood test',''];
        var disease = ['(vertigo) Paroymsal  Positional Vertigo','AIDS',
            'Acne','Alcoholic hepatitis','Allergy','Arthritis','Bronchial Asthma',
            'Cervical spondylosis','Chicken pox','Chronic cholestasis','Common Cold','Dengue','Diabetes ',
            'Dimorphic hemmorhoids(piles)','Drug Reaction','Fungal infection','GERD','Gastroenteritis',
            'Heart attack','Hepatitis B','Hepatitis C','Hepatitis D','Hepatitis E','Hypertension ',
            'Hyperthyroidism','Hypoglycemia','Hypothyroidism','Impetigo','Jaundice','Malaria','Migraine',
            'Osteoarthristis','Paralysis (brain hemorrhage)','Peptic ulcer diseae','Pneumonia','Psoriasis',
            'Tuberculosis','Typhoid','Urinary tract infection','Varicose veins','hepatitis A'];

        var department = ['Otolaryngologist','Immunologists','Dermatologist','Hepatologist','Allergist','Rheumatologist','Pulmonologist',
            'Orthopaedists','Infectious disease specialist','Hepatologist','General Physician','General Physician','Endocrinologist',
            'Gastroenterologist','Allergist','Infectious disease specialist','Otolaryngologist','Gastroenterologist','Cardiologist','Hepatologist',
            'Hepatologist','Hepatologist','Hepatologist','General Physician','Endocrinologist','Endocrinologist',
            'Endocrinologist','General Physician','Gastroenterologist','Infectious disease specialist','General Physician',
            'Orthopaedician','Neurologist','Gastroenterologist','Pulmonologist','Dermatologist','Infectious disease specialist',
            'General Physician','Urologist','Cardiologist','Hepatologist','General Physician','Physical Trainer'
            ];

        var tst=[];
        function addtest(x,y){
            console.log(x,y);
            if(tests[2*x]!='')tst.push(tests[2*x]);
            if(tests[2*x+1]!='')tst.push(tests[2*x+1]); 
            if(tests[2*y]!='')tst.push(tests[2*y]);
            if(tests[2*y+1]!='')tst.push(tests[2*y+1]);
            console.log(tst);
        }

        function capital(sex){
            if(sex==='male')return "Male";
            return "Female";
        }

        function bookcheck(x){
            console.log(x,'foundhere');
            if(x.length < 3 )return true;
            return false;
        }
        function booknot(x){
            if(x==='-1')return true;
            return false;
        }

        var index0 = 0,index1 = 1;
        disease.forEach((ele,ind)=>{
            if(ele===result[0])index0=ind;
            else if(ele===result[1])index1=ind;
        });

        var smal=(x)=>{
            s = '';
            var y = x.length;
            for(var i=y-1;i>=y-6;--i){
                s+=x[i];
            }
            return s;
        }
    %>
    
      <div class="container">
        <div class="row">
            <!-- <div class="col-lg-1" style="border: 0px solid black; margin: 0px auto 0px auto;"></div> -->
            <div class="col-sm-2" style="border: 0px solid black; margin: 0px auto 0px auto;" id="basicd1">
                <div style="margin-top:50px;">
                    <div>
                        <div class="hg2">
                            <strong>Personal Details</strong>
                        </div>
                        <div class="hg2">
                            <strong>Gender</strong>
                        </div>
                        <div class="hg2">
                            <strong>General Test</strong>
                        </div>
                        <div class="hg2">
                            <strong>BMI data</strong>
                        </div>
                        <div class="hg2">
                            <strong>Temperature</strong>
                        </div>
                        <div class="hg2">
                            <strong>Miscellaneous</strong>
                        </div>
                        <div class="hg2">
                            <strong>Symptoms Check</strong>
                        </div>
                        <div class="hg1">
                            <strong>Results</strong>
                        </div>
                    </div>
                </div>
            </div>

            <!-- --------------------------------------------------------------------------------- -->
            <!-- Personal Details are shown Below -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-9 justify-content-center">
                <div style="border-radius:10px; margin: 50px auto; background-color: white; width: 100%; padding-bottom:0; " id="p1">
                    <div class="row">
                    <div class="col-sm-2" style="background-color: #007bff; border-bottom-left-radius: 10px; border-top-left-radius: 10px;">
                        <img src="https://raw.githubusercontent.com/tej3107/FingrtipsHealth/main/public/rpt.png" width="50%" style="margin-left: 25%; margin-top: 5vh;">
                    </div>
                    <div class="col-sm-6" style="padding-bottom: 7vh;">
                        <h2 style="padding: 40px 0px 20px 20px;">Personal Details</h2>
                        <div class="row" style="font-size: 15px; border-radius: 20px; border: 3px solid #777; margin: 0px 10vh 0 1vh; padding: 10px;">
                            <div class="col-sm-4">
                                <div class="" style="text-align: right;"><strong>Name:</strong><br></div>
                                <div class="" style="text-align: right;"><strong>Age:</strong><br></div>
                                <div class="" style="text-align: right;"><strong>DOB:</strong><br></div>
                                <div class="" style="text-align: right;"><strong>Sex:</strong><br></div>
                                <div class="" style="text-align: right;"><strong>BMI:</strong><br></div>
                                <div class="emailsmall" style="text-align: right;"><strong>Email:</strong><br></div>
                                <div class="" style="text-align: right;"><strong>Patient Id:</strong><br></div>
                            </div>
                            <div class="col-sm-8">
                                <div><%=name%><br></div>
                                <div><%=age%><br></div>
                                <div><%=dob%><br></div>
                                <div><%=capital(sex)%><br></div>
                                <div><%=bmi%><br></div>
                                <div class="emailsmall"><%=email%><br></div>
                                <div><%= smal(id) %><br></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="margin-top: 15vh; padding: 0;">
                        <img src="<%=image(sex)%>" width="70%">
                    </div>
                    </div>
                </div>
                
                <!-- --------------------------------------------------------------------------------- -->
                <!-- Red Alert area for the purpose of Department Input -->
                <%if(recommend(perc[0],data2)){%>
                    <div style="border-radius:10px; margin: 30px auto 0px auto; background-color: #bf1128; width: 100%; padding: 30px 30px 30px 30px;">
                        <div>
                            <h3 style="margin-bottom: 30px; color: white;">Recommendation</h3>
                            <p style="font-size: 18px; color: white;">Based on your health it is highly advised to book an appointment to the respective Specialist by Cliking below.</p>
                            <hr style="border: 0.5px solid #ccc;">

                            <div style="color: white; margin-top: 30px;">
                                
                                <div style="margin-left: 10px;">
                                        <span style="font-size: 20px;"><strong><%= department[index0] %></strong></span>
                                        <% if(bookcheck(book1)){ %>
                                            <div>
                                                <form action="/slot/<%=id%>/<%= department[index0] %>">
                                                    <button class="btn btn-outline-light" style="margin-left: 30px; margin-top: 8px;">Book Slot</button>
                                                </form>
                                            </div>
                                        <% }else{ %>
                                            <p style="color: #ccc; font-size: 18px; padding-left: 20px;">Your appointment has been booked for <strong> <%=book1%> </strong> today.</p>
                                        <% } %>
                                </div>
                            
                                <!-- <hr style="border: 0.5px solid #ccc;"> -->
                                <% if(recommend(perc[1],data2)){ %>
                                <div style="margin-left: 30px; margin-top: 25px;">
                                        <span style="font-size: 20px;"><strong><%=department[index1]%></strong></span>
                                        <% if(bookcheck(book2)){ %>
                                            <div>
                                                <form action="/slot/<%=id%>/<%= department[index1] %>">
                                                    <button class="btn btn-outline-light" style="margin-left: 30px; margin-top: 8px;">Book Slot</button>
                                                </form>
                                            </div>
                                        <% }else{ %>
                                            <p style="color: #007bff; font-size: 18px; padding-left: 20px;">Your appointment has been booked for <strong> <%=book2%> </strong> today.</p>
                                        <%}%>
                                </div>
                                <% } %>
                                
                            </div>

                        </div>
                    </div>
                <% }else{ %>

                    <!-- --------------------------------------------------------------------------------- -->
                    <!-- Data showing just to visit our general Physician -->
                    <div style="border-radius:10px; margin: 30px auto 0px auto; background-color: #146bad; width: 100%; padding: 30px 30px 30px 30px;">
                        <div>
                            <h3 style="margin-bottom: 30px; color: #ffffff;">Recommendation</h3>
                            <p style="font-size: 18px; color: #ffffff;">Given data about your symptoms are not sufficient
                                to predict your disease, you are first advised to book appointment with our <strong>General Physician</strong>.</p>
                            <%if(bookcheck(bookphy)){%>
                                <div>
                                    <form action="/slot/<%=id%>/<%=department[41]%>">
                                        <button class="btn btn-light" style="margin-left: 30px;">Book Slot</button>
                                    </form>
                                </div>
                            <%}else{%>
                                <p style="color: rgb(255, 255, 255);  font-size: 18px; padding-left:20px;">Your appointment has been booked for <strong> <%=bookphy%> </strong> today.</p>
                            <%}%>
                            <hr style="border: 0.5px solid white;">
                        </div>
                    </div>
                <% } %>


                <!-- --------------------------------------------------------------------------------- -->
                <!-- Model 2 implemented Here -->
                <% if( data2 > 0.4 ){%>
                    <div style="border-radius:10px; margin: 30px auto 0px auto; background-color: white; width: 100%; padding: 30px 30px 30px 30px;">
                        <div>
                            <h3 style="margin-bottom: 30px;">Health CheckUp</h3>
                            <p>Based on your Lifestyle Data you are also advised to take a visit to our <strong>Physical Trainer</strong>.</p>
                            <%if(bookcheck(booktrain)){%>
                                <div>
                                    <form action="/slot/<%=id%>/<%=department[42]%>">
                                        <button class="btn btn-primary" style="margin-left: 30px;">Book Slot</button>
                                    </form>
                                </div>
                            <%}else{%>
                                <p style="color: #007bff; font-size: 18px; padding-left:20px;">Your appointment has been booked for <strong> <%=booktrain%> </strong> today.</p>
                            <%}%>
                            <hr style="border: 0.5px solid #ccc;">
                        </div>
                    </div>
                <% } %>


                <!-- --------------------------------------------------------------------------------- -->
                <!-- Pie Charts are shown Here -->
                <div style="border-radius:10px; margin: 30px auto 30px auto; background-color: white; width: 100%; padding: 40px 30px 30px 30px;">
                    <div>
                        <h3 style="margin-bottom: 30px;">Results</h3>
                        <p style="font-size: 18px; color: #777;">Please note that the list may not be complete and is provided solely for the purpose of a <strong>preliminary diagnosis</strong> and is not a qualified medical opinion.</p>
                        <hr>
                    </div>
                    <div id="base">
                        <div class="row">
                        <div class="col-sm-2">
                        <div class="progress" style="width: 100%;height: 10px;">
                            <div class="progress-bar" id="barn" style="float:left; width:<%= perc[0] %>%;" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                          <div class="col-sm-10"><div style="color:#007bff"><%=result[0]%><br></div>
                            <div>
                                <%=datavariable(perc[0])%>
                            </div>
                        </div>
                        </div>
                        <hr>
                          <div class="row">
                              <div class="col-sm-2">
                          <div class="progress" style="width: 100%;height: 10px;">
                            <div class="progress-bar" id="barn" style="float:left; width: <%= perc[1] %>%;" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          </div>
                          <div class="col-sm-10"><div style="color:#007bff"><%=result[1]%><br></div>
                          <div>
                              <%=datavariable(perc[1])%>
                          </div>
                        </div>
                        </div>
                        <hr>
                        <% if(recommend(perc[0],data2)){%>
                          <div class="row">
                              <div class="col-sm-2">
                          <div class="progress" style="width: 100%;height: 10px;">
                            <div class="progress-bar" id="barn" style="float:left; width: <%= perc[2] %>%;" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          </div>
                          <div class="col-sm-10"><div style="color:#007bff"><%=result[2]%><br></div>
                          <div>
                              <%=datavariable(perc[2])%>
                          </div>
                        </div>
                        </div>
                        <hr>
                          <div class="row">
                              <div class="col-sm-2">
                          <div class="progress" style="width: 100%;height: 10px;">
                            <div class="progress-bar" id="barn" style="float:left; width: <%= perc[3] %>%;" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          </div>
                          <div class="col-sm-10"><div style="color:#007bff"><%=result[3]%><br></div>
                          <div>
                              <%=datavariable(perc[3])%>
                          </div>
                        </div>
                        </div>
                        <hr>
                          <div class="row">
                              <div class="col-sm-2">
                          <div class="progress" style="width: 100%;height: 10px;">
                            <div class="progress-bar" id="barn" style="float:left; width: <%= perc[4] %>%;" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          </div>
                          <div class="col-sm-10"><div style="color:#007bff"><%=result[4]%><br></div>
                          <div>
                              <%=datavariable(perc[4])%>
                          </div>
                        </div>
                </div>
                <%}%>
                    </div>
                
                </div>

                <% if(recommend(perc[0],data2)){ %>
                
                <div style="border-radius:10px; margin: 10px auto 50px auto; background-color: white; width: 100%; padding: 40px 30px 40px 30px;">
                    <div>
                        <h3 style="margin-bottom: 30px;">Lab Tests</h3>
                        <h5 style="font-size: 18px; color: #666;">Preventive</h5>
                        <p style="color: #777;">The Lab tests are based on your symptoms. They are recommended according to the risk of your profile.</p>
                        <hr>
                        <div>
                            <%
                                addtest(ab[0],ab[1]);
                                tst.forEach(ele=>{%>
                                    <div >
                                        <a style="padding-left: 30px;color: #007bff;" href="#"> + <%=ele%></a>
                                        <hr>
                                    </div>

                                <% }) %>
                        </div>
                    </div>
                </div>
                <%}%>
    
            </div>
            
            <div class="col-md-1" style="border: 0px solid black; margin: 50px auto;"></div>
        </div>
      </div>

      <div class="container" style="z-index:2;background-color: #eee; border-top-left-radius: 10px; border-top-right-radius: 10px; margin-top: 0px; margin-bottom: 0px; border: 1px solid #ccc;padding: 40px; color: #666 ;  ">
        <div><h3 style="color: #666 ; padding-left: 10px;">About us</h3></div>
        <div style="margin:25px 0 0 10px; line-height: 15px;" >
          <p style="margin-bottom: 5vh;">AI powered Diagnosis by TEAM NOBITA.</p>
          <p>Team Members:</p>
          <p style="padding-left: 10px;">&#8226 Shubh Gupta</p>
          <p style="padding-left: 10px;">&#8226 Newton Kumar</p>
          <p style="padding-left: 10px;">&#8226 Tej Narayan Singh</p>
        </div>
      </div>

</body>

</html>