<%-include("partials/extras/header")%>   
    <script>

    </script>
    <style>
        button{
            margin:20px;
        }
    </style>
</head>

<body style="background-color: #eee;">
    <%-include("partials/extras/nav")%> 
    
    <%
        function disable(x){
            xyz = slot.find(ele=>ele===x);
            <!-- xyz = 0; -->

            if(xyz)return false;
            return true;
        }
    %>
    
      <div class="container">
        <div class="row">
            <div class="col-lg-1" style="border: 0px solid black; margin: 0px auto 0px auto;"></div>
            <!-- <div class="col-lg-2" style="border: 0px solid black; margin: 0px auto 0px auto;" id="basicd1"> -->
                    
            </div>
            <div class="col-12 col-lg-10 justify-content-center"style="border-radius:10px;margin: 50px auto; background-color: white; padding:50px;" id="p1">
                <h1>Book Your Slot</h1>
                <div style="margin-top:40px ;">
                    <h5>Department: <strong><%=deprt%></strong></h5>
                    <form action="/slot/<%=id%>/<%=deprt%>" method="post">
                        <%if(disable(1)){%><button name='name' value='1' class="btn btn-outline-success">10:00AM</button><%}else{%>
                            <button name='name' value='1' class="btn btn-danger" disabled>10:00AM</button><%}%>
                        <%if(disable(2)){%><button name='name' value='2' class="btn btn-outline-success">10:30AM</button><%}else{%>
                            <button name='name' value='2' class="btn btn-danger" disabled>10:30AM</button><%}%>
                        <%if(disable(3)){%><button name='name' value='3' class="btn btn-outline-success">11:00AM</button><%}else{%>
                            <button name='name' value='3' class="btn btn-danger" disabled>11:00AM</button><%}%>
                        <%if(disable(4)){%><button name='name' value='4' class="btn btn-outline-success">11:30AM</button><%}else{%>
                            <button name='name' value='4' class="btn btn-danger" disabled>11:30AM</button><%}%>
                        <%if(disable(5)){%><button name='name' value='5' class="btn btn-outline-success">12:00PM</button><%}else{%>
                            <button name='name' value='5' class="btn btn-danger" disabled>12:00AM</button><%}%>
                        <%if(disable(6)){%><button name='name' value='6' class="btn btn-outline-success">12:30PM</button><%}else{%>
                            <button name='name' value='6' class="btn btn-danger" disabled>12:30PM</button><%}%>
                        <%if(disable(7)){%><button name='name' value='7' class="btn btn-outline-success">01:00PM</button><%}else{%>
                            <button name='name' value='7' class="btn btn-danger" disabled>01:00PM</button><%}%>
                        <%if(disable(8)){%><button name='name' value='8' class="btn btn-outline-success">01:30PM</button><%}else{%>
                            <button name='name' value='8' class="btn btn-danger" disabled>01:30PM</button><%}%>
                        <%if(disable(9)){%><button name='name' value='9' class="btn btn-outline-success">02:00PM</button><%}else{%>
                            <button name='name' value='9' class="btn btn-danger" disabled>02:00PM</button><%}%>
                        <%if(disable(10)){%><button name='name' value='10' class="btn btn-outline-success">02:30PM</button><%}else{%>
                            <button name='name' value='10' class="btn btn-danger" disabled>02:30PM</button><%}%>
                        <%if(disable(11)){%><button name='name' value='11' class="btn btn-outline-success">03:00AM</button><%}else{%>
                            <button name='name' value='11' class="btn btn-danger" disabled>03:00PM</button><%}%>
                        <%if(disable(12)){%><button name='name' value='12' class="btn btn-outline-success">03:30AM</button><%}else{%>
                            <button name='name' value='12' class="btn btn-danger" disabled>03:30PM</button><%}%>
                    </form>
                    <div style="margin-top: 30px;">
                        <a href='/results/<%=id%>'><button class="btn btn-outline-danger">< Go Back</button></a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-1" style="border: 0px solid black; margin: 50px auto;"></div>
        </div>
      </div>
</body>

</html>